@import '../../styles/variables.scss';

.session-card {
  display: flex;
  .session-card--profile-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .session-card--details {
    padding: 15px;
    h4 {
      color: $primary;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
