@import '../../styles/variables.scss';
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-error {
  text-align: center;
  color: $primary;
  font-size: 1.2rem;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 750px;
  background: $grey-darker;
  position: relative;
  padding: 20px;
  .back {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $grey;
  }
  h1 {
    font-family: $barlow;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
  }
}
