@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Oxygen+Mono&display=swap');
@import './reset.scss';
@import './variables.scss';
@import './layout.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  * {
    box-sizing: inherit;
  }
}

body {
  background: #000;
  font-family: $oxygen;
  color: $grey;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.25s;
  &:hover {
    color: $primary;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

// Button styles
button {
  border-radius: 0;
  appearance: none;
  border: none;
  font-size: 1.6rem;
  font-family: $oxygen;
  cursor: pointer;
  transition: $default-transition;
  color: #fff;
  &:hover {
    color: $primary;
  }
}

.button-primary,
.button-secondary {
  display: inline-block;
  padding: 20px;
  position: relative;
  background: $grey-darker;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// Primary CTA styles
.button-primary {
  color: $grey-darker;
  background: #fff;
  overflow: hidden;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $grey-darker;
    border: none;
    animation: primary-fill 1s linear;
    &::before,
    &::after {
      width: calc(100% - 4px);
      height: calc(100% - 2px);
    }
    &::before {
      border-top-color: $primary;
      border-right-color: $primary;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &::after {
      border-bottom-color: $primary;
      border-left-color: $primary;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

// Secondary CTA styles
.button-secondary {
  color: #fff;
  transition: color 0.25s;
  overflow: hidden;
  &:hover,
  &:focus {
    &::before,
    &::after {
      width: calc(100% - 4px);
      height: calc(100% - 2px);
    }
    &::before {
      border-top-color: $primary;
      border-right-color: $primary;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &::after {
      border-bottom-color: $primary;
      border-left-color: $primary;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

@keyframes primary-fill {
  0%,
  75% {
    background: transparent;
    color: #fff;
  }

  100% {
    background: #1c1c1c;
  }
}

.hide {
  visibility: hidden;
}

// Form Styles
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .field-container {
    position: relative;
    width: 75%;
    margin-bottom: 1.5rem;
  }
  label,
  input {
    display: block;
    width: 100%;
  }
  label {
    font-family: $barlow;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }
  input {
    background: transparent;
    border: 2px solid $grey;
    color: $grey;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
  .form-error {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: $primary;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  button {
    padding: 15px 40px;
    margin: 20px 0;
  }
}

// Slogan
.text-slogan {
  font-family: $barlow;
  font-weight: bold;
  font-size: 7.5rem;
  text-transform: uppercase;
  span {
    display: block;
    color: $primary;
  }
  @media (max-width: 750px) {
    font-size: 5rem;
  }
}
