@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&family=Oxygen+Mono&display=swap');
@import './reset.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  background: $grey-darkest;
  font-family: $oxygen;
}

a {
  text-decoration: none;
}
