// Fonts

$barlow: 'Barlow Semi Condensed', sans-serif;
$oxygen: 'Oxygen Mono', monospace;

// Transitions
$default-transition: 150ms ease;
$slow-transition: 1000ms ease;

// Colours

$grey: #f6f6f6;
$grey-dark: #acacac;
$grey-darker: #161616;
$grey-darkest: #0f0f0f;

$primary: #e9002d;
$primary-dark: #aa0020;
$primary-darker: #710015;
$primary-darkest: #38000a;
$primary-light: rgba(233, 0, 45, 0.6);

$secondary: #002de9;
$secondary-dark: #001d97;
$secondary-darker: #00092f;
$secondary-darkest: #00051a;
$secondary-light: rgba(0, 45, 233, 0.6);
